.login-main-div{
    background: rgb(255, 255, 255);
    margin: 50px;
    width: 500px;
    position: relative;
    left: 33%;
    border: 1px solid;
    border-radius: 10px;
    -webkit-box-shadow: 3px 13px 33px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 13px 33px -1px rgba(0,0,0,0.64);
    box-shadow: 3px 13px 33px -1px rgba(0,0,0,0.64);
}

label{
    border: none;
}